In [99]:
import pandas as pd

In [ ]:
# 1
cols_to_load = ['trip_distance', 'passenger_count', 'fare_amount']
dtypes = {'trip_distance':'float32', 'passenger_count':'int8', 'fare_amount':'float32'}

nyc = pd.read_parquet('/content/drive/MyDrive/Datasets/pandas 4/yellow_tripdata_2024-01.parquet', columns=cols_to_load)
nyc

         trip_distance  passenger_count  fare_amount
0                 1.72              1.0        17.70
1                 1.80              1.0        10.00
2                 4.70              1.0        23.30
3                 1.40              1.0        10.00
4                 0.80              1.0         7.90
...                ...              ...          ...
2964619           3.18              NaN        15.77
2964620           4.00              NaN        18.40
2964621           3.33              NaN        19.97
2964622           3.06              NaN        23.88
2964623           8.10              NaN        32.40

[2964624 rows x 3 columns]

In [ ]:
# 2
fli = pd.read_csv('/content/drive/MyDrive/Datasets/pandas 4/flights.csv')

def average_delay_per_airline(df):
  return df.groupby('AIRLINE')['AIRLINE_DELAY'].mean()

average_delay_per_airline(fli)

<ipython-input-44-51aa24d93e8d>:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  fli = pd.read_csv('/content/drive/MyDrive/Datasets/pandas 4/flights.csv')

AIRLINE
AA    21.139201
AS    15.543352
B6    18.150503
DL    22.941028
EV    21.651277
F9    14.719983
HA    22.792063
MQ    17.425025
NK    13.766839
OO    18.959163
UA    21.144678
US    17.410107
VX    11.097809
WN    16.191674
Name: AIRLINE_DELAY, dtype: float64

In [ ]:
# 3
fli['AIRLINE'].astype('category') # reduce load time if repetitive string values

0          AS
1          AA
2          US
3          AA
4          AS
           ..
5819074    B6
5819075    B6
5819076    B6
5819077    B6
5819078    B6
Name: AIRLINE, Length: 5819079, dtype: category
Categories (14, object): ['AA', 'AS', 'B6', 'DL', ..., 'UA', 'US', 'VX', 'WN']

In [ ]:
# 4
def replace_symbols(value):
  if not isinstance(value, str):
    return value
  else:
    for old_value, new_value in symbols.items():
      value = value.replace(old_value, new_value)
    return value

def str_to_float(value):
  if not isinstance(value, str):
    return value
  else:
    for old_value, multiplier in numeric.items():
      return float(value.replace(old_value, '')) * multiplier

def data_clean(value):
  x = replace_symbols(value)
  return str_to_float(x)

symbols = {'<=': '', '<': '', '>': '', '>=': ''}
numeric = {'K': 1000}

adult = pd.read_csv('/content/drive/MyDrive/Datasets/pandas 4/adult.data', header=None)
print(adult.iloc[:, -1].apply(data_clean).mean()) # last column is about salary. values are not accurate.

50000.0

In [ ]:
# 5
nyc.set_index('trip_distance') # can use inplace=True

               passenger_count  fare_amount
trip_distance
1.72                       1.0        17.70
1.80                       1.0        10.00
4.70                       1.0        23.30
1.40                       1.0        10.00
0.80                       1.0         7.90
...                        ...          ...
3.18                       NaN        15.77
4.00                       NaN        18.40
3.33                       NaN        19.97
3.06                       NaN        23.88
8.10                       NaN        32.40

[2964624 rows x 2 columns]

In [ ]:
# 6
dates = pd.to_datetime(fli['YEAR'], format='%Y').dt.year
dates.astype('int16')

0          2015
1          2015
2          2015
3          2015
4          2015
           ...
5819074    2015
5819075    2015
5819076    2015
5819077    2015
5819078    2015
Name: YEAR, Length: 5819079, dtype: int16

In [ ]:
# 7
print(fli['ARRIVAL_TIME'] / 2)
print(fli['ARRIVAL_TIME'].apply(lambda x: x / 2)) # apply operation appears take longer

0          204.0
1          370.5
2          405.5
3          378.0
4          129.5
           ...
5819074    376.5
5819075    215.0
5819076    216.0
5819077    165.0
5819078    221.0
Name: ARRIVAL_TIME, Length: 5819079, dtype: float64
0          204.0
1          370.5
2          405.5
3          378.0
4          129.5
           ...
5819074    376.5
5819075    215.0
5819076    216.0
5819077    165.0
5819078    221.0
Name: ARRIVAL_TIME, Length: 5819079, dtype: float64

In [ ]:
# 8
path = '/content/drive/MyDrive/Datasets/pandas 4/adult.data'
chunk_size = 16280 # loading half at a time

for chunck in pd.read_csv(path, header=None, chunksize=chunk_size):
  print(chunck)

       0                  1       2              3   4                    5   \
0      39          State-gov   77516      Bachelors  13        Never-married
1      50   Self-emp-not-inc   83311      Bachelors  13   Married-civ-spouse
2      38            Private  215646        HS-grad   9             Divorced
3      53            Private  234721           11th   7   Married-civ-spouse
4      28            Private  338409      Bachelors  13   Married-civ-spouse
...    ..                ...     ...            ...  ..                  ...
16275  45            Private  162606        HS-grad   9             Divorced
16276  24            Private  179627        HS-grad   9   Married-civ-spouse
16277  34            Private  103408   Some-college  10             Divorced
16278  27            Private   36440      Bachelors  13        Never-married
16279  26            Private   57512      Assoc-voc  11        Never-married

                       6               7       8        9     10  11  12  \
0            Adm-clerical   Not-in-family   White     Male  2174   0  40
1         Exec-managerial         Husband   White     Male     0   0  13
2       Handlers-cleaners   Not-in-family   White     Male     0   0  40
3       Handlers-cleaners         Husband   Black     Male     0   0  40
4          Prof-specialty            Wife   Black   Female     0   0  40
...                   ...             ...     ...      ...   ...  ..  ..
16275               Sales   Not-in-family   White   Female     0   0  35
16276   Machine-op-inspct         Husband   White     Male     0   0  40
16277      Prof-specialty   Not-in-family   Black     Male     0   0  40
16278               Sales   Not-in-family   White   Female     0   0  40
16279        Craft-repair       Own-child   White     Male     0   0  48

                   13      14
0       United-States   <=50K
1       United-States   <=50K
2       United-States   <=50K
3       United-States   <=50K
4                Cuba   <=50K
...               ...     ...
16275   United-States   <=50K
16276   United-States   <=50K
16277         Germany    >50K
16278   United-States   <=50K
16279   United-States   <=50K

[16280 rows x 15 columns]
       0                  1       2              3   4                    5   \
16280  27            Private  187981        HS-grad   9        Never-married
16281  55            Private  393768      Assoc-voc  11   Married-civ-spouse
16282  38            Private  108726        HS-grad   9   Married-civ-spouse
16283  31            Private  180551        HS-grad   9   Married-civ-spouse
16284  51   Self-emp-not-inc  176240     Assoc-acdm  12   Married-civ-spouse
...    ..                ...     ...            ...  ..                  ...
32555  22            Private  310152   Some-college  10        Never-married
32556  27            Private  257302     Assoc-acdm  12   Married-civ-spouse
32557  40            Private  154374        HS-grad   9   Married-civ-spouse
32558  58            Private  151910        HS-grad   9              Widowed
32559  22            Private  201490        HS-grad   9        Never-married

                       6               7       8        9   10  11  12  \
16280   Handlers-cleaners       Own-child   White     Male   0   0  40
16281     Exec-managerial         Husband   White     Male   0   0  40
16282     Exec-managerial         Husband   White     Male   0   0  40
16283        Adm-clerical            Wife   White   Female   0   0  40
16284               Sales         Husband   White     Male   0   0  40
...                   ...             ...     ...      ...  ..  ..  ..
32555     Protective-serv   Not-in-family   White     Male   0   0  40
32556        Tech-support            Wife   White   Female   0   0  38
32557   Machine-op-inspct         Husband   White     Male   0   0  40
32558        Adm-clerical       Unmarried   White   Female   0   0  40
32559        Adm-clerical       Own-child   White     Male   0   0  20

                   13      14
16280   United-States   <=50K
16281   United-States   <=50K
16282   United-States    >50K
16283   United-States    >50K
16284   United-States    >50K
...               ...     ...
32555   United-States   <=50K
32556   United-States   <=50K
32557   United-States    >50K
32558   United-States   <=50K
32559   United-States   <=50K

[16280 rows x 15 columns]
       0              1       2         3   4                    5   \
32560  52   Self-emp-inc  287927   HS-grad   9   Married-civ-spouse

                     6      7       8        9      10  11  12  \
32560   Exec-managerial   Wife   White   Female  15024   0  40

                   13     14
32560   United-States   >50K

In [ ]:
# 9
nyc = pd.read_parquet('/content/drive/MyDrive/Datasets/pandas 4/yellow_tripdata_2024-01.parquet')
january = pd.to_datetime(nyc['tpep_pickup_datetime']).dt.month == 1